@{
    ViewData["Title"] = "About Cookies";

}
<h2 class="mb-3">About Cookies in Web Application</h2>
<p>
    Cookies are small pieces of data stored by your browser.They help web app remember who you are, keep ypu logged in , and personlize your experience.
</p>
<p>
    Use the navigation to set, read, and delete a sample cookie, and see how cookie can be accessed directy in views!
</p>