@{
    ViewData["Title"] = "Delete Cookies";

}
<h2 class="mb-3">Delete Sample Cookies</h2>
<div class="alert alert-warning">@ViewBag.Message</div>
<p>
    Try setting the cookie again, or reading it to confirm deletion. 
</p> 