@{
    ViewData["Title"] = "Read Cookies";

}
<h2 class="mb-3">Read Cookie</h2>
<div class="alert alert-info">@ViewBag.Message</div>
<p>
    If you set a cookies, you should see its value above.If its deleted, it will say 'not found'.
</p> 