@{
    ViewData["Title"] = "Set Cookies";

}
<h2 class="mb-3">Set Sample Cookies</h2>
<div class="alert alert-success">@ViewBag.Message</div>
<p>
Now go to <b>Read cookie</b> to view the value, or <b>Delete Cookie</b> to remove it.
</p> 